__pycache__
myEnv
resource

# for large file storage git lfs
# /****
# git lfs install 
# git lfs migrate import --include="folder"
# git lfs track "folder"
# git add .
# git commit -m ""
# git push origin master
# */