
.dashboard-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}
.custom-predict{
    grid-column: 1;
    grid-row: 1;
    background-color: #e3edee;

}
.control-container{
    grid-column: 2;
    grid-row: 1;
    background-color: #e3edee;
}
.arm-slide{
    grid-column: 1;
    grid-row: 2;
    background-color: #e3edee;
}
.temp-humid{
    grid-column: 2;
    grid-row: 2;
    background-color: #e3edee;
}
.water-tank{
    grid-column: 1;
    grid-row: 2;
    background-color: #e3edee;
}

/* for controlling button */


.direct-btn{
    padding: 20px;
}
.btn__up, .btn__down{
    margin-left: auto;
    margin-right: auto;
}
.btn{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color:#06dcf1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.middle-btn{
    display: flex;
    justify-content: center;
}
.middle-btn .btn {
    margin: 25px 25px;
}
.btn__stop{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color:red;
    color: #000;
    font-style: bold;
    font-size: 2rem;
}
.btn i{
    font-size: 3rem;
    color: #414c40;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(29, 196, 29);
}
/* for slider */

.slider{
    position: relative;
    transform: rotate(-90deg);
    border-radius: 8px;
    width: 120px;
    border: 1px solid #6fbdbe;
    height: 12px;
    outline: none;
    -webkit-appearance: none;
    top: 50%;
    opacity: 0.7;
    background: #d3d3d3;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

}
.slider:hover{
    opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #060552; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 22px; /* Set a specific slider handle width */
  height: 22px; /* Slider handle height */
  background: #0b08df; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;

}

/* custom predict */
.custom-predict{
    display: block;
    justify-content: center;
    position: relative;
}
.dashboard__heading{
    font-size: 2rem;
    color:rgb(52, 92, 92);
    font-weight: 600;
    padding: 10px;
}
.input__img{
    padding: 4px;
    color:rgb(29, 196, 29);
    font-size: 1.4rem;
    margin: 20px 20px;
}
.custom-predict img{
    width: 150px;
    height: 150px;
}
.predict__result{
    display: block;
    position: relative;
    text-align: center
}
.predict-result__text{
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 1rem;
    font-style: italic;
    
}
.predict-result__text.none-image{
    margin-left: 10rem;
}
.img__show{
    position: relative;
    display: flex;
    justify-content: left;
    max-width: 400px;
    overflow: auto;
}
.predict__img{
    width: 150px;
    height: 150px;
    margin: 0 10px;
    transition: transform .5s ease-in-out;
}
.predict__img:hover{
    cursor: pointer;
    transform: scale(1.15)
}

.input__img:hover{
    cursor: pointer;
}
/* water tank */

.test-slide{
    width: 100px;
}
.water__container{
    display: flex;
    align-items: center;
}
.tank-level{
    border-radius: 5px;
    width: 180px;
    height: 250px;
    transform: rotate(-90deg);
    /* transform: translateY(-50%); */
}

.scale{
    display: block;
    width: 120px;
    height: 180px;
    display: flex;
    flex-direction: column;
}
.scale__item{
    position: relative;
    flex: 1;
}
.scale__item{
    position :relative;
}
.scale__item p{
    position: relative;
    width: 50%;
    top: 40%; 
    margin-left: 46px;
}
.scale__item:first-child p{
    top: 0;
}
.scale__item:last-child p{
    bottom: 0;
    top: 75%;
}
.scale__item p::before{
    position: absolute;
    content: "";
    width: 8px;
    height: 2px;
    background-color: #414c40;
    top: 50%;
    left: 100%;
}
/* For temp and humid */

.temp-humid{
    text-align: center;
}
.dashboard__envi{
    display: flex;
    justify-content: center;
    padding: 30px 10px;
    align-items: center;
}

.dashboard-envi__text{
    margin: 20px 20px;
    font-size: 2rem;
    color: #4e807d;
}
.envi__value{
    font-size: 2.2rem;
    color: #060552;

}


.dashboard__btn{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.predict-img__btn{
    display: block;
    margin-right: 2rem;
    outline: none;
    border: 1px solid #ccc;
    padding : 4px;
    background-color: rgb(55, 172, 55) !important;
    color: #fff;
    border-radius: 4px;
}
.predict-img__btn:hover{
    filter: brightness(1.3);
    cursor: pointer;
}
.predicting__status{
    color: red;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1.6px;
    margin-left: 124px;
}
.main-control{
    position: relative;
    display: flex;
}

.slider-control{
    position: relative;
    display: flex;
    margin-top: 150px;
}
.slider-text{
    position: relative;
    top: 75px;
    font-size: 1.5rem;
    color:rgb(52, 92, 92);
    font-weight: 600;

}
.main-control{
    display: flex;
    flex: 1;
}
/* implement */
.plant__text{
    margin-bottom: 60px;
    margin-left:-68px;
}
.plant-height{
    position: absolute;
    display: flex;
    padding: 2.5rem;
}
.plant-height option:hover{
    cursor: pointer;
    background-color:#06dcf1;
}
.height__input{
    display: block;
    border: 1px solid rgb(195, 195, 207);
    border-radius: 5px;
    font-size: 1.4rem;
    text-indent: 6px;
    padding: .5rem;
}
.height__input:focus{
    outline: none !important;
    border: 2px solid rgb(72, 72, 165);
    border-radius: 4px;
}
.submit__btn{
    display: block;
    margin-right: 2rem;
    outline: none;
    border: 1px solid #ccc;
    padding : 4px;
    background-color: rgb(55, 172, 55) !important;
    color: #fff;
    border-radius: 4px;
}
.height-submit{
    margin-left: 1rem;
}
.submit__btn:hover{
    filter: brightness(1.3);
    cursor: pointer;
}


/* switch mode */
.auto-mode{
    width: 280px;
    align-items:center;
    justify-content: center;
}
.manual-mode{
    animation: fadeIn .5s linear;
}
.manual-mode, .auto-mode{
    display: none;
}
.mode--show{
    display: flex;
}
/* for switch button */
.mode-switch{
    margin-top: 10px;
}
.switch-label{
    position: relative;
    display: block;
    width: 65px;
    height: 25px;
    margin-left: 50px;

}
.switch-label .checkbox{
    opacity: 0;
    width: 0;
    height: 0;
}
.switch-label .switch-slider{
    border: 1px solid #ccc;
    position: absolute;
    background: rgb(188, 206, 204);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
}
.switch-label .switch-slider:before{
    position: absolute;
    content: "";
    background-color:#09d870;
    width: 40%;
    height: 100%;
    border-radius: 50%;
    left: 2%;
    transition: .5s all ease;

}   
.switch-label .checkbox:checked + .switch-slider:before{
    left: 58%;
}
.switch-label .checkbox:checked ~ .switch-slider{
    background-color: #c4e0fa;
    
}
.switch__text{
    z-index: 2;
    color: #080807;
    font-size: 1.4rem;
    position: absolute;
    font-weight: bolder;
    top: 5%;
}
.switch__text.auto{
    left: -55%;
}
.switch__text.manual{
    left: 120%;
}

.arm-sliders{
    display: block;
    position: relative;
}
.manual-btns{
    display: block;
    position: absolute;
    bottom : 66%;
    left: 10%;
}
.manual__btn{
    outline: none;
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    color: #fff;
    background-color:rgb(136, 155, 29);
    border-radius: 6px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.manual__btn.run-pump{
    background-color:rgb(68, 160, 152);

}
.manual__btn:hover{
    cursor: pointer;
    filter: brightness(1.1);
}

/* Manual predicting status */
